<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.yunweiadmin.mapper.PermissionListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sss.yunweiadmin.model.entity.PermissionList">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="interface_type" property="interfaceType" />
        <result column="model" property="model" />
        <result column="desc" property="desc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, interface_type, model, desc
    </sql>

</mapper>
