<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.yunweiadmin.mapper.ProcessFormCustomInstMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sss.yunweiadmin.model.entity.ProcessFormCustomInst">
        <id column="id" property="id" />
        <result column="table_name" property="tableName" />
        <result column="column_name" property="columnName" />
        <result column="column_type" property="columnType" />
        <result column="column_value" property="columnValue" />
        <result column="process_instance_data_id" property="processInstanceDataId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, table_name, column_name, column_type, column_value, process_instance_data_id
    </sql>

</mapper>
